modules = ["nodejs-20", "web", "javascript", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://ajhmmjuewdsukecaimik.supabase.co"
VAPID_PUBLIC_KEY = "BJ32tbxqb-CD-TyivlxMx8QmVwNqug0F3GXdFX6dqXEkqLAV8JnhGg57SsSkckY1YC03_XvuuOr0PW0IDtjzOYo"
VAPID_PRIVATE_KEY = "NQz566P5YoibgXSYBNKe2j544tKLAbRfPdBNW7FlukU"
SUPABASE_URL = "https://ajhmmjuewdsukecaimik.supabase.co"
SUPABASE_SERVICE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqaG1tanVld2RzdWtlY2FpbWlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNzUxMjEsImV4cCI6MjA3OTc1MTEyMX0.5bXRWTyb1HxLimt3lqJTBfjzDoumux7TXlW4lycXrPk"
DATAJUD_API_KEY = "cDZHYzlZa0JadVREZDJCendQbXY6SkJlTzNjLV9TRENyQk1RdnFKZGRQdw=="

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
